* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  width: 100vw;
  height: 60vh;
  background: linear-gradient(#59ac77, #69bf88, #8bc09e);
  overflow: visible;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
  /* display: grid;
  grid-template-rows: 8fr 2fr;
  overflow: auto; */
}

header hgroup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%;
}

header hgroup h1 {
  font-size: 82px;
  font-weight: 500;
}

header hgroup p {
  font-size: 42px;
  font-weight: 300;
}

nav {
  width: 100%;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59ac77;
  padding: 20px;
  align-self: flex-start;
  position: sticky;
  top: 0px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  padding: 5px;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}
