* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 60vh;
  background: linear-gradient(#59ac77, #69bf88, #8bc09e);
  overflow: visible;
}

header hgroup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

header hgroup h1 {
  font-size: 82px;
  font-weight: 700;
}

header hgroup p {
  font-size: 32px;
  font-weight: 200;
  color: #333;
}

nav {
  width: 100%;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59ac77;
  padding: 20px;
  align-self: flex-start;
  position: sticky;
  top: 0px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  padding: 5px;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

/* Footer styling */
body > footer {
  padding: 20px 30px;
  background-color: #59ac77;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

body > footer time {
  color: #000;
  font-weight: 500;
}

dialog {
  padding: 10px 20px;
  position: relative;
  bottom: 19px;
  margin: 0 auto;
  background-color: #59ac77;
}

/* Article styling */
main {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0px;
}
main article hgroup {
  margin: 20px 0px;
}
main article hgroup h2 {
  font-size: 52px;
}
main article hgroup p {
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
  color: #555;
}

time,
strong,
data {
  color: #59ac77;
}

main article section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 40px 0px;
  border-bottom: 5px solid #59ac77;
}

main article section h3 {
  font-size: 62px;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

main article section p {
  margin: 5px 0px;
  font-size: 29px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

main article section mark {
  padding: 10px 5px;
  background-color: yellowgreen;
  margin-top: 10px;
}

main article section mark data {
  color: #000;
  font-weight: 700;
}

main article section figure {
  width: 100%;
  margin: 30px 0px;
  background-color: #59ac77;
}

main article section figure img {
  width: 100%;
}

main article section figure figcaption {
  padding: 15px 30px;
  font-size: 28px;
  font-weight: 300;
}

main article section details {
  background-color: yellowgreen;
  padding: 20px;
  font-size: 26px;
  font-weight: 200;
}

main article section details summary {
  font-size: 32px;
  font-weight: 400;
}

main article section details data {
  color: #000;
  font-weight: 500;
}

main article section aside {
  background-color: #eee;
  margin: 20px 0px;
  padding: 20px;
}
main article section aside data {
  color: #333;
  font-weight: 600;
}
main article section aside a {
  color: #59ac77;
  text-decoration: none;
  font-size: 23px;
}

main article section aside a:hover {
  border-bottom: 1px solid #59ac77;
}

main article footer {
  background-color: white;
}

main article footer address {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main article footer address a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

main article footer address a:hover {
  text-decoration: underline;
}
